.entry{
  height: 100vh;
}

.center{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  max-width: 650px;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.projects{
  flex-wrap: wrap;
}

.list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.skills{
}

.ed-ex{

}
.line{
  border-left: 2px solid var(--mat-sys-outline);
}
.experience{

}

.hobbies{
}
