.img {
  position: relative !important;
  object-fit: scale-down;
  min-width: 93dvw;
  min-height: min(46dvw, 350px);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  max-width: 650px;
  align-self: center;
  justify-self: center;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
