.img {
  max-height: 50vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  max-width: 65em;
  align-self: center;
  justify-self: center;
}

.list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
